<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owl - Assimilação RPG</title>
    <link rel="stylesheet" href="../style/landpagestyle.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="#">Início</a></li>
            <li><a href="#">Ficha</a></li>
            <li><a href="#">Campanha</a></li>
            <li><a href="#">Gerador de conflitos</a></li>
        </ul>
        <button class="loginbotao">Registrar</button>
        <button class="loginbotao">Logar</button>
    </nav>
    <section>
        <div class="welcome-box">
            <h2>Boas vindas á Owl - Plataforma para jogar Assimilação RPG Online</h2>
            <span>Owl é uma plataforma para facilitar a vida dos jogadores de <a href="#">Assimilação</a>.</span>
        </div>
    </section>
    <footer>Todos os direitos reservados á @Rakin</footer>
</body>
<script async href="../script/landpagescript.js"></script>
</html>